/* src/components/LandingPage.css */
.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-page h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.landing-page p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.qr-code {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    background: white;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.qr-code:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: spin 10s linear infinite;
}